{% extends 'rtchat/base.html' %}

{% block layout %}
<header class="page-header">
    <div class="d-flex align-items-center mb-4">
        <div class="container d-flex justify-content-between align-items-center w-100">
            <h3 class="m-0"><a href="{% url 'home' %}">Chat Application</a></h3>
            <a href="{% url 'login' %}">
                <input type="submit" value="Login" class="btn btn-secondary btn-lg">
            </a>
        </div>
    </div>
</header>

<wrapper class="block max-w-2xl mx-auto my-10 px-6">
    <div id="chat_window" class="h-[45rem] flex flex-col bg-gray-800 rounded-2xl shadow-2xl relative p-1">
        <div id='chat_container' class="overflow-y-auto grow">
            <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                <li>
                    <div class="flex justify-start">
                        <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg">
                            <span>Hey team, how's everyone doing today?</span>
                        </div>  
                    </div>
                    <div class="text-sm font-light py-1 ml-10">
                        <span class="text-gray-400">@user1</span>
                    </div>
                </li>
                <li class="flex justify-end mb-4">
                    <div class="bg-green-200 rounded-l-lg rounded-tr-lg p-4 max-w-[75%]">
                        <span>Doing well! Just finishing up some emails. What's up?</span>
                    </div>
                </li>
                <li>
                    <div class="flex justify-start">
                        <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg">
                            <span>All good here. How's the project going?</span>
                        </div>  
                    </div>
                    <div class="text-sm font-light py-1 ml-10">
                        <span class="text-gray-400">@user3</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
            <div class="flex items-center rounded-xl px-2 py-2">
                <input type="text" name="message" id="message" placeholder="Please login to send messages..." maxlength="150">
            </div>
        </div>
    </div>
</wrapper>

{% endblock %}
